################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/d3d/Debug
/Debug
/GDI/Debug
/lib/Debug
/skngame/Debug
/test/Debug
